.nav {
	display: inline-block;
	vertical-align: bottom;
}

#nav-stuff {
	text-align: center;
	padding-top: 15px;
}

.nav li {
	display: inline-block;
	margin: auto;
	border-bottom: 3px solid white;
	transition: border-bottom 1s ease-out;
}

#nav-stuff .nav li:hover {
	border-bottom: 3px solid #944D70;
	background-color: white;
	transition: border-bottom, 1s ease-in;
}

img {
	width: 350px;
}

.nav a {
	color: #660033;
	font-family: Arial;
	letter-spacing: 4px;
	text-transform: lowercase;
	font-size: 16px;
}